.historic-article {
    width: 70%;
    padding: 2vw;
    padding-top: 0;
    margin: auto;
    margin-top: 5vh;
    background-color: white;
}

.historic-article h2{
    font-family: 'Borsok';
    font-size: 30px;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 3px lightgray solid;
    margin: 6px;
}

.historic-article h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 6px;
}

.historic-article h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    margin: 6px;
}

.historic-article p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    margin: 6px;
}

.historic-article ul {
    list-style: square;
}

.historic-article li {
    position: relative;
    left: 1.5rem;
}

.historic-article blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 600;
    padding: 1rem;
    margin: 6px;
    text-align: center;
}

.historic-article blockquote::before {
    content: "\«";
    font-size: 30px;
    padding: 1rem;
    color: #E38B29;
    text-align: left;
}

.historic-article blockquote::after {
    content: "\»";
    font-size: 30px;
    padding: 1rem;
    color: #E38B29;
    text-align: right;
}

#author {
    text-align: right;
    padding: 1rem;
    border-bottom: 3px lightgray solid;
}

.historic-article .img-container {
    width: min-content;
    padding: 3px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.historic-article img {
    width: 300px;
    margin-bottom: 3px;
}

@media (max-width: 800px) {
    .historic-article {
        width: 100%;
        margin-top: 0;
        padding: 0;
    }

    .historic-article h2{
        background-color: #E38B29;
        margin: 0;
    }

    #after-h2 {
        margin-top: calc(2vw + 6px);
    }

    .historic-article h3{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .historic-article h4{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .historic-article p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}