header > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    font-family: Jokerman;
    color: white;
}

.navi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navi .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.top-row h2 {
    color: white;
}

.navi img {
    display: block;
    width: 100%;
}

.navi a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 5vh;
    background-image: linear-gradient(to top,#38af90,#78b84d);
    border: 3px solid yellow;
}

.navi span {
    color: white;
    font-size: 25px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    align-self: center;
    background: rgba(102,89,155,.59);
}

.sidebar .news-container {
    padding: 5px;
}

.sidebar .news-container:not(:first-child) h2{
    border-top: 1px solid aliceblue;
}

.news-container h2,
.news-container p{
    color: lightgray;
    padding-top: 5px;
    margin-bottom: 5px;
}

.news-container > .publish-date {
    color: black;
}

.publish-date:before {
    content: url(/src/clock-svgrepo-com.svg);
    display: inline-block;
    align-self: center;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}

.news-container:hover {
    background: rgba(123, 105, 192, 0.59);
}

@media (min-width: 1201px){
    .sidebar {
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    align-self: center;
}

.ad-container {
    padding: 5px;
}

.ad-container h3,
.ad-container p{
    vertical-align: middle;
}

.ad-container:hover {
    background: lightblue;
}

@media (min-width: 1201px){
    .ads {
        border-top: 3px solid yellow;
        border-left: 3px solid yellow;
        border-bottom: 3px solid yellow;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 5px;
    }
}

@media (max-width: 768px){
    .ad-container img {
        max-width: 50%;
        float: left;
        margin-right: 10px;
    }
}